<div class="container">

    <h1>MR. COCKTAIL RECIPES</h1>
    <p>Find your favorite cocktail recipes</p>
    <div class="text-center">
      <h4>Classic Cocktails</h4>
      <div class="row">
        <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-4 ">
     <div class="card rest-card my-3">
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?cocktail" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <%= link_to "Go to cocktail", cocktail_path(cocktail), class: "btn btn-primary" %>
      </div>
    </div>
    </div>
    <% end %>
      </div>
    </div>

</div>
